/* spacing on all sections 
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #e7f8f6;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #c33764;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }


/* hero background color */
.bgimage {
    height:100vh;
    background:  url('pic2.PNG');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
    width:"992"; 
    height:"1108";
}
/* text css above hero image*/
/*.hero_title {
  
    font-size: 4.5rem;
   
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("pic3.PNG") top right;
    background-size: cover;
  }
  
  #hero .container {
    padding-top: 70px;
    position: relative;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 58px;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color:   #c33764;
  }
  
  #hero h2 {
    color: gray;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  
  #hero .btn-about {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #c33764;
  }
  
  #hero .btn-about:hover {
    background: #f4e2d8;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #hero:before {
      content: "";
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  

/* 
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1e3551;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #000000;
  }
  
  .button:hover {background-color: #3e7f8e}
  
  .button:active {
    background-color: #3e7f8e;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
  }
  */

/* about section image css 
.imageAboutPage {
    width: 100%;
   
    border-radius: 0 30px 0 30px;
}*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555555;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #34b7a7;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  



/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #c33764;
}


/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.progress {
    margin-bottom: 10px;
    
  }
  
  .progress-bar {
    width: 0;
    
    
  }


  /*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
/*.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  
  
  .skills .progress-bar{
    background: #f3f3f3;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #34b7a7;
  }


 */ 


 /*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
/*
.resume .resume-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #222222;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #c33764;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #681d3a;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #c33764;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #c33764;
}
*/

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
/*div.center {

  text-align: center;

  }

  video {
    max-width: 100%;
    height: auto;
  }*/
    

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
 
}

.contact .info i {
  font-size: 20px;
  color: #c33764;
  float: left;
  width: 44px;
  height: 44px;
  background: #effbf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555555;
}

.contact .info .address,
.contact .info .email {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i{
  background: #c33764;
  color: #fff;
}




/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
  color: #c33764;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}





#about .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #c33764;
}

#about .btn-about:hover {
  background: #f4e2d8;
}


#contact .btn-contact {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #c33764;
}

#contact .btn-contact:hover {
  background: #f4e2d8;
}